{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}

    {{ form_label(form.category) }}
    {{ form_widget(form.category, {
        'attr': {
            'class': 'form-control js-replaceFormField',
            'data-replaceFormFields': '#post_subcategory, #post_rating'
        }
    })}}

    {{ form_label(form.subcategory) }}
    {{ form_widget(form.subcategory, {
        'attr': {
            'class': 'form-control js-replaceFormField',
            'data-replaceFormFields': '#post_rating'
        }
    })}}

{% if form.rating is defined %}
    {{ form_label(form.rating) }}
    {{ form_widget(form.rating) }}
{% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>

<script>
    $("form").on("change", ".js-replaceFormField", (e) => {
        replaceFormFields(`#${e.target.id}`, e.target.getAttribute('data-replaceFormFields').split(','))
    });

    function replaceFormFields(source, destinations) {
        var $form = $(source).closest('form');
        var data = $form.serializeArray();
        data.pop(); // prevent triggering $form->IsValid() by removing token field (last index)
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function (html) {
                destinations.forEach(destination => {
                    $(destination).replaceWith($(html).find(destination));
                });
            }
        });
    }
</script>